button {
  min-width: 100px;
  height: 45px;
  padding: 8px;
  border-radius: 5px;
  border: 2.5px solid #e0e1e4;
  cursor: pointer;
  background-color: white;
  transition: all 0.2s ease-in-out 0ms;
}

button:hover {
  background-color: #e4e4e4;
}

button:active {
  transform: scale(0.95);
}
