button {
  min-width: 100px;
  height: 45px;
  padding: 8px;
  border-radius: 5px;
  border: 2.5px solid #e0e1e4;
  cursor: pointer;
  background-color: white;
  transition: all 0.2s ease-in-out 0ms;
}

button:hover {
  background-color: #e4e4e4;
}

button:active {
  transform: scale(0.95);
}

.downloadBtn {
  background-color: #444141;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
}

.downloadBtn:hover {
  background-color: #333;
}

.downloadBtn:active {
  transform: translateY(1px);
}
