html,
body {
  height: 100%;
  margin: 0;
}

.text {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 24px;
}

.inputDiv {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}

.selectionDiv {
  background-color: rgb(75, 75, 75);
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;

  padding: 10px 20px;
  border-radius: 10px;
}

.selectionDiv select {
  height: 34px;
  padding: 0 10px;
  border-radius: 10px;
}

.quality {
  width: 130px;
  text-align: center; /* centers selected value */
}
