.input {
  width: 330px;

  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  outline: none;
}

.input:focus {
  border-color: #55ff00;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

input:hover {
  outline: 2px solid rgb(255, 255, 255);
}
